# Ignore environment files
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
*.venv/

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Railway and Docker
.idea/
*.sqlite3
*.db
